* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --gray: #5F6368;
  --gray-icon: #9aa0a6;
  --light-gray: #dadce0;
  --gray-footer: #f2f2f2;
  --blue-url: #1558d6;

  --blue: #4285F4;
  --red: #EA4335;
  --yellow: #FBBC05;
  --green: #34A853;

  --nav-height: 4.8rem;

  --apps-size: 1.8rem;
  --apps-dot-size: calc(var(--apps-size) / 5);
  --apps-dot-margin: calc(var(--apps-dot-size) / 3);

  --user-size: 3rem;

  --border-h: 0 2rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

/* ************ HEADER ********** */
nav {
  width: 100vw;
  height: var(--nav-height);
  padding: var(--border-h);
  
  display: flex;
  justify-content: space-between;
}

.options {
  color: var(--gray);

  display: flex;
  justify-content: stretch;
  align-items: center;

  font-weight: bold;
  font-size: 1.2rem;
}

.menu {
  height: 1.2rem;
  margin-right: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu div {
  background-color: var(--gray);
  width: 1.8rem;
  height: .14em;
}

.gmail {
  width: 0;
  overflow: hidden;
}

.all {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
  
  height: 100%;
  margin-right: 2rem;

  display: flex;
  align-items: center;
}
.all span {
  padding: 0 1rem;
}
 
.images {
  text-transform: uppercase;
}

.apps-user {
  width: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apps {
  width: var(--apps-size);
  height: var(--apps-size);
  display: flex;
  flex-wrap: wrap;
}
.apps div {
  background-color: var(--gray);
  width: var(--apps-dot-size);
  height: var(--apps-dot-size);
  border-radius: var(--apps-dot-size);
  margin: var(--apps-dot-margin);
}

.user {
  width: var(--user-size);
  height: var(--user-size);
  border-radius: 5rem;
  overflow: hidden;
}
.user img {
  width: 100%;
}

/* *********** MAIN *********** */
main {
  width: 100vw;
  height: calc(100vh - var(--nav-height));
}

/* GOGOOL */
.gogool {
  font-family: 'Jost', sans-serif;
  font-size: 5rem;

  padding: 6rem 0 3rem;

  display: flex;
  justify-content: center;
}

.gogool span {
  margin-right: -0.2rem;
}
.g1 { color: var(--blue); }
.o2 { color: var(--red); }
.g3 { color: var(--yellow); }
.o4 { color: var(--blue); }
.o5 { color: var(--green); }
.l6 { color: var(--red); }

/* SEARCH */
.search-box{
  height: 3.8rem;
  display: flex;
  align-items: center;

  padding: 0 1rem;
  margin: var(--border-h);

  border: 1px solid var(--light-gray);
  border-radius: 5rem;
}

.button-mg {
  width: 1.6rem;
  min-width: 1.6rem;
}
.button-mg img { width: 100%; }

.search-input {
  /* Quitar estilos */
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;

  flex-grow: 1;
  padding: 0 2rem;
  min-width: 0;
}

.button-voice { 
  width: 2.4rem;
  min-width: 2.4rem; 
}
.button-voice img { width: 100%; }

/* SEARCH BUTTONS */
.search-buttons { /* Ocultarlos */
  height: 0;
  overflow: hidden;
}

/* LANGUAGE */
.lang {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 2rem auto;
  padding: var(--border-h);
}
.lang a {
  color: var(--blue-url);
  margin-left: 1rem;
}

/* *********** FOOTER *********** */
footer {
  background-color: var(--gray-footer);
  color: var(--gray);

  width: 100vw;
  display: flex;
  flex-direction: column;
}

.location {
  background-color: var(--gray-footer);
  border-bottom: 1px solid var(--light-gray);
  
  width: 100vw;
  height: 8rem;
  
  position: absolute;
  bottom: 0;
  
  display: flex;
}
.location span {
  font-size: 1.6rem;
  width: 100vw;
  height: 4rem;
  padding: 1rem;

  border-bottom: 1px solid var(--light-gray);
}

.redirections {
  height: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap:  wrap;
}

.about, .info-settings {
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.redirections span {
  padding-left: 2rem;
}

